p { font-size: 120%; color: dimgray; }
h1 { font-size: 200%; color: black; }
h2 { font-size: 150%; color: black; }
h3 { font-size: 125%; color: black; }
h4 { font-size: 100%; color: black; }

/* Path: docs/stylesheet.css */
body { font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; font-size: 12px; color: #333; background-color: #fff; }

